
/*.pro.user
/*Makefile*
/bin/Kitty.exe
/bin/profiles/*
/src/ui_*.h
/src/*/moc_*.cpp
/src/*/*.o
/src/*/qrc_res.cpp
/src/*object_script.*
/src/3rdparty/hunspell/debug/*
/src/3rdparty/hunspell/release/*
