
/*.pro.user*
/*Makefile*
/build.*
/*/*Makefile*
/bin/Kitty.exe
/bin/*.dll
/bin/profiles/*
/bin/emoticons/*
/bin/sounds/*
/bin/themes/*
/bin/plugins/*
/bin/data/translations/*
/bin/data/dictionaries/*
/src/ui_*.h
/src/*/moc_*.cpp
/src/*/*.o
/src/*/qrc_res.cpp
/src/*object_script.*
/lib/hunspell/*Makefile*
/lib/hunspell/*.pro.user*
/lib/hunspell/*object_script.*
/lib/hunspell/debug/*
/lib/hunspell/release/*
