
*.pro.user*
*Makefile*
*ui_*.h
*moc_*.cpp
*.o
*qrc_res.cpp
*object_script.*
*.exe
*.dll
/build.*
/bin/profiles/*
/bin/emoticons/*
/bin/sounds/*
/bin/themes/*
/bin/plugins/*
/bin/data/translations/*
/bin/data/dictionaries/*
/lib/hunspell/debug/*
/lib/hunspell/release/*
