Kitty--RosterHeader {
  background: black url(:/header/header_bg.png);
  background-repeat: no-repeat;
}

Kitty--RosterHeader QLineEdit {
  background: black;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
}

Kitty--RosterHeader QToolButton {
  color: white;
  border: 1px solid gray;
  border-radius: 3px;  
}

Kitty--RosterHeader QLabel#avatarLabel {
  border: 1px solid gray;
  color: white;
}

Kitty--RosterHeader QLabel#profileLabel {
  margin-left: 2px;
  color: white;
}