/* Roster */
QTreeView {
  color: #000000;
  selection-color: #000000;
}

QTreeView::item {
  background-color: transparent;
  border: 1px solid transparent;
}

QTreeView::item:selected {
  border: 1px solid #329afb;
  background-color: #329afb;
}

QTreeView::item:selected:!active {
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
}

QTreeView::item:has-children {
  background-color: #f4f4f4;
  border: 1px solid #e6e6e6;
}

QTreeView::item:has-children:selected {
  background-color: #c8c8c8;
  border: 1px solid #b9b9b9;
}

/* Header */
Kitty--RosterHeader {
  background: black url(:/roster/header_bg.png);
  background-repeat: no-repeat;
}

Kitty--RosterHeader QLineEdit {
  background: black;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
}

Kitty--RosterHeader QToolButton {
  color: white;
  border: 1px solid gray;
  border-radius: 3px;  
}

Kitty--RosterHeader QLabel#avatarLabel {
  border: 1px solid gray;
  color: white;
}

Kitty--RosterHeader QLabel#profileLabel {
  margin-left: 2px;
  color: white;
}